<!doctype html>
<html>
	<title>Update your password</title>

	<h1>Update password</h1>

	<form method="post">
		<table>
			<tr>
				<td>
					<label for="username">Username</label>
				</td>

				<td>
					<input name="username" id="username" required>
				</td>
			</tr>

			<tr>
				<td>
					<label for="password">Password</label>
				</td>

				<td>
					<input type="password" name="password" id="password" required>
				</td>
			</tr>

			<tr>
				<td colspan='2'>
					<input type="submit" value="Update Password">
				</td>
			</tr>
		</table>
	</form>
</html>
